<% provide(:title, "Home") %>

<h1>Welcome to Home Page</h1>

<% if logged_in? %>
	<p>Create a new Post</p>
	<%= form_with(model: @micropost, local: true) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.text_area :content, placeholder: "add a post" %>

		<%= f.submit "Post" %>
	<% end %>
<% end %>